* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header-logo {
    line-height: 100px;
    background-color: #fff;
}

/* LOGO */
.logo {
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 10px;
}
/* TEXT LOGO */
.logo-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    vertical-align: middle;
}
/* END HEADER */

/* BACKGROUND BODY */
body {
    background-color: #F6F8F9;
}

.container {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 10px;  
}
/* BUTTONS */
.btn-on {
    background-color: #47ADF1;
    color: #fff;
    border-radius: 5px;
    border: solid #47ADF1;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-left: 40px;
}

.btn-off {
    background-color: #fff;
    color: rgb(201, 199, 199);
    border-radius: 5px;
    border: solid rgb(201, 199, 199);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-left: 5px;
}
/* END BUTTONS */

hr {
    margin-top: 10px;
    border: 1px solid #F6F8F9;
}